@value blue, red, pink, green, desktop, mobile from "src/styles/variables.css";
/*  https://css-tricks.com/line-on-sides-headers/  magic alert */

:root {
  --linesWidth: 1px;
  --linesSpacing: 15px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.bigTitle {
  font-weight: bold;
  font-family: signika;
}

.smallTitle {
  margin-top: 20px;
  font-family: Avenir Next;
  font-weight: 200;
}

/* Hide lines when a subtitle is not provided */
.smallTitle:empty {
  display: none;
}

.line-container {
  text-align: center;
}

.smallTitle {
  display: inline-block;
  position: relative;
}

.smallTitle:before,
.smallTitle:after {
  content: "";
  position: absolute;
  height: 8px;
  top: 0;
  border-bottom: var(--linesWidth) solid white;
}

.smallTitle:before {
  right: 100%;
  margin-right: var(--linesSpacing);
}
.smallTitle:after {
  left: 100%;
  margin-left: var(--linesSpacing);
}

@media mobile {
  .bigTitle {
    font-size: 30px;
  }
  .smallTitle {
    font-size: 14px;
  }
  .smallTitle:before,
  .smallTitle:after {
    width: 30px;
  }
}

@media desktop {
  .bigTitle {
    font-size: 40px;
  }
  .smallTitle {
    font-size: 20px;
  }
  .smallTitle:before,
  .smallTitle:after {
    width: 45px;
  }
}
