:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.card {
  padding: 17px;
  border-style: solid;
  border-width: 12px 0 0 0;
}

.card:nth-child(4n) {
  background-color: var(--blue);
  border-color: var(--green);
  }

.card:nth-child(4n+1) {
  background-color: var(--pink);
  border-color: var(--blue);
  }

.card:nth-child(4n+2) {
  background-color: var(--green);
  border-color: var(--red);
  }

.card:nth-child(4n+3) {
  background-color: var(--red);
  border-color: var(--pink);
  }

.title {
  font-family: signika;
  font-weight: bold;
  font-size: 20px;
}

.text {
  font-size: 14px;
  line-height: 1.2;
  margin: 10px 0 15px 0;
}

.readMore {
  background-color: white;
  color: var(--red);
  padding: 5px;
  font-size: 13px;
  text-align: right;
}

@media (max-width: 700px) {
  .card {
    margin: var(--cardsGap) 0;
  }
}

@media (min-width: 700px) {
  .card {
    margin: 0 calc(var(--cardsGap)/3);
  }
  .card:first-of-type {
    margin-left: 0;
  }
  .card:last-of-type {
    margin-right: 0;
  }
}

