:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.item {
  margin-bottom: 30px;
}

.subtitle {
  font-size: inherit;
  font-family: signika;
  border-bottom: 3px solid var(--pink);
}

.field {
  font-size: inherit;
  font-weight: 200;
  margin-top: 10px;
}

.social {
  margin: 10px 0;
}
