@value blue, red, pink, green, desktop, mobile from "src/styles/constants.css";

.item {
  margin-bottom: 30px;
}

.subtitle {
  font-size: inherit;
  font-family: signika;
  border-bottom: 3px solid pink;
}

.field {
  font-size: inherit;
  font-weight: 200;
  margin-top: 10px;
}

.social {
  margin: 10px 0;
}
