@value blue, red, pink, green, desktop, mobile from "src/styles/constants.css";

.article {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  margin: 10px auto;
  border: 2px solid white;
  border-radius: 5%;
}

.paragraph {
  text-align: left;
  line-height: 1.25;
  font-weight: 200;
}

@media mobile {
  .paragraph {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

@media desktop {
  .paragraph {
    font-size: 15px;
    margin-bottom: 25px;
  }
}
