@custom-media --forDesktop (width >= 700px);
@custom-media --forMobile (width <= 700px);

.header {
  display: flex;
}

.title {
  font-weight: bold;
  line-height: .75;
}

.smallTitle {
  font-size: 50px;
}

.largeTitle {
  font-size: 80px;
}

.navbar {
  margin-top: auto;
  height: 30px;
  width: 100%;
}

@media (--forMobile) {
  .header {
    flex-direction: column;
  }
  .title {
    margin-bottom: 25px;
  }
}

@media (--forDesktop) {
  .header {
    flex-direction: row;
  }
  .title {
    margin-bottom: 0;
  }
}
