/*
  Modal dimensions respond to its children
  Only works if the children don't exceed viewport dimensions
*/
.modal {
  position: fixed;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 3px solid white;
  border-radius: 3%;
  outline: 0;
}

/* making sure children don't exceed viewport dimensions */
.previewImage {
  max-height: 90vh;
  max-width: 90vw;
  border-radius: 2%;
}
