@custom-media --forDesktop (width >= 800px);
@custom-media --forMobile (width <= 800px);

.header {
  display: flex;
  margin: 50px 0 20px 0;
}

.title {
  font-weight: bold;
  line-height: .75;
}

.smallTitle {
  font-size: 50px;
}

.largeTitle {
  font-size: 80px;
}

@media (--forMobile) {
  .header {
    flex-direction: column;
  }
  .title {
    margin-bottom: 25px;
  }
}

@media (--forDesktop) {
  .header {
    flex-direction: row;
  }
  .title {
    margin-bottom: 0;
  }
}
