@custom-media --forDesktop (width >= 700px);
@custom-media --forMobile (width <= 700px);

:root {
  --primaryColor: #FF8282;
  --secondaryColor: #9CD3A5;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.item {
  color: var(--primaryColor);
}

.active {
  color: var(--secondaryColor);
}

@media (--forMobile) {
  .item {
    font-size: 16px;
  }
}

@media (--forDesktop) {
  .item {
    font-size: 18px;
  }
}
