.app {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

/* DESKTOP */
@media (min-width: 700px) {
  .app {
    padding: 30px;
  }
}

/* MOBILE */
@media (max-width: 700px) {
  .app {
    padding: 10px;
  }
}
