@value blue, red, pink, green, desktop, mobile from "src/styles/constants.css";

.news {
  background-color: red;
  border: 6px solid white;
}

.article {
  margin-bottom: 60px;
}

.link {
  font-size: 12px;
}

@media mobile {
  .news {
    padding: 40px 5%;
  }
}

@media desktop {
  .news {
    padding: 40px 22%;
  }
}
