:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.news {
  background-color: var(--red);
  border: 6px solid white;
}

.link {
  font-size: 12px;
}

@media (max-width: 700px) {
  .news {
    padding: 40px 5%;
  }
}

@media (min-width: 700px) {
  .news {
    padding: 40px 22%;
  }
}
