@value blue, red, pink, green, desktop, mobile from "src/styles/variables.css";

.news {
  background-color: red;
  padding: 30px 1%;
  border: 6px solid white;
}

.article {
  margin-bottom: 60px;
}

.link {
  font-size: 12px;
}
