@value blue, red, pink, green, desktop, mobile from "src/styles/variables.css";

.header {
  display: flex;
}

.navbar {
  margin-top: auto; /* pushes navbar to bottom of flex container */
  height: 30px;
  width: 100%;
}

@media mobile {
  .header {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 25px;
  }
}

@media desktop {
  .header {
    flex-direction: row;
  }
  .logo {
    margin-bottom: 0;
  }
}
