@custom-media --forDesktop (width >= 700px);
@custom-media --forMobile (width <= 700px);

:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
  --cardGap: 2%;
}

.cards {
  display: flex;
}

.card {
  padding: 17px;
  border-style: solid;
  border-width: 12px 0 0 0;
}

.card:nth-child(4n) {
  background-color: var(--blue);
  border-color: var(--green);
  }

.card:nth-child(4n+1) {
  background-color: var(--pink);
  border-color: var(--blue);
  }

.card:nth-child(4n+2) {
  background-color: var(--green);
  border-color: var(--red);
  }

.card:nth-child(4n+3) {
  background-color: var(--red);
  border-color: var(--pink);
  }

.subtitle {
  font-family: signika;
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-size: 14px;
  line-height: 1.2;
  margin: 10px 0 15px 0;
}

.readMore {
  background-color: white;
  color: var(--red);
  padding: 5px;
  font-size: 13px;
  text-align: right;
}

@media (--forMobile) {
  .cards {
    flex-direction: column;
  }
  .card {
    margin: var(--cardGap) 0;
  }
}

@media (--forDesktop) {
  .cards {
    flex-direction: row;
  }
  .card {
    margin: 0 calc(var(--cardGap)/3);
  }
  .card:first-of-type {
    margin-left: 0;
  }
  .card:last-of-type {
    margin-right: 0;
  }
}
