@value blue, red, pink, green, desktop, mobile from "src/variables.css";

.footer {
  text-align: right;
}

.text {
  font-size: 12px;
}

.text:hover {
  font-weight: 300;
  transition: .5s;
  color: red;
}
