@value blue, red, pink, green, desktop, mobile from "src/styles/variables.css";

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: white;
  font-family: signika;
}

.item {
  color: red;
}

.active {
  color: green;
}

@media mobile {
  .item {
    font-size: 16px;
  }
}

@media desktop {
  .item {
    font-size: 20px;
  }
}
