@custom-media --forDesktop (width >= 700px);
@custom-media --forMobile (width <= 700px);

:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.about {
  background-color: var(--red);
  padding: 3%;
}

.title {
  margin-top: 25px;
}

.paragraph {
  text-align: left;
  line-height: 1.5;
}

@media (--forMobile) {
  .paragraph {
    font-size: 16px;
    margin: 30px 5% 30px 5%;
  }
}

@media (--forDesktop) {
  .paragraph {
    font-size: 20px;
    margin: 25px 22% 25px 22%;
  }
}
