@custom-media --forDesktop (width >= 700px);
@custom-media --forMobile (width <= 700px);

:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.gallery {
  background-color: var(--green);
  padding: 3%;
}

.title {
  margin: 30px 0 40px 0;
}

@media (--forMobile) {
}

@media (--forDesktop) {
}
