@custom-media --forDesktop (width >= 700px);
@custom-media --forMobile (width <= 700px);

.contact {
  display: flex;
  flex-wrap: wrap;
}

@media (--forMobile) {
  .contact {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .form,
  .info {
    width: 100%;
  }
}

@media (--forDesktop) {
  .contact {
    flex-direction: row;
  }
  .form {
    width: 60%;
  }
  .info {
    margin-top: 30px;
    width: 40%;
  }
}
