@custom-media --forDesktop (width >= 700px);
@custom-media --forMobile (width <= 700px);

.article {
  text-align: center;
  margin-bottom: 60px;
}

.header {
  text-align: center;
}

.photo {
  width: 50%;
  height: auto;
  margin: 10px auto;
  border: 2px solid white;
  border-radius: 5%;
}

.paragraph {
  text-align: left;
  line-height: 1.25;
  font-weight: 200;
}

.link {
  font-size: 12px;
}

@media (--forMobile) {
  .paragraph {
    font-size: 14px;
    margin: 0 5% 30px 5%;
  }
}

@media (--forDesktop) {
  .paragraph {
    font-size: 15px;
    margin: 0 22% 25px 22%;
  }
}
