:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.footer {
  text-align: right;
}

.text {
  font-size: 12px;
}

.text:hover {
  transition: 1s;
  color: var(--red);
}
