@font-face {
  font-family: signika;
  src: url(/font/signika-regular.otf);
}

@font-face {
  font-family: signika;
  font-weight: bold;
  src: url(/font/signika-bold.otf);
}

body {
  background: url("/img/background.png") no-repeat center/cover fixed;
  font: 16px/1 'Avenir Next', 'Helvetica Neue', Helvetica;
  color: white;
}

a,
button {
  transition: .3s;
  text-decoration: none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 4% 4%;
}

.header {
  margin: 30px 0;
}

.footer {
  margin-top: 40px;
}
