:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.gallery {
  background-color: var(--blue);
  padding: 40px 2%;
  border: 6px solid white;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: stretch;
  grid-gap: 5px 15px;
}

.image {
  border: 3px solid white;
  width: 100%;
  border-radius: 3%;
  margin: 5px;
  object-fit: cover;
  cursor: pointer;
}
