:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.gallery {
  background-color: var(--blue);
  padding: 40px 1%;
  border: 6px solid white;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.image {
  border: 3px solid white;
  border-radius: 3%;
  height: 200px;
  width: 100%;
  margin: 5px;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 700px) {
  .gallery {
    flex-direction: column;
  }
  .image {
    width: 90%
  }
}

@media (min-width: 700px) {
  .gallery {
    flex-direction: row;
  }
  .image {
    max-width: 30%;
  }
}
