@value blue, red, pink, green, desktop, mobile from "src/styles/variables.css";

.app {
  display: flex;
  flex-direction: column;
  margin: 4% 4%;
}

.header {
  margin-top: 25px;
}

.mainSection {
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
}
