@value blue, red, pink, green, desktop, mobile from "src/styles/constants.css";

.form {
  text-align: center;
}

.item {
  text-align: left;
}

.label {
  margin: 20px 0 7px 0;
  font-size: inherit;
  font-family: signika;
}

.field {
  display: block;
  min-height: 32px;
  width: 100%;
  font-size: inherit;
  color: #666;
}

.field:focus,
.send:focus {
  outline: none;
  border: 2px solid pink;
}

.item textarea {
  height: 150px;
  resize: none;
}

.send {
  height: 35px;
  width: 120px;
  margin: 20px 0;
  border: 2px solid white;
  color: white;
  text-align: center;
  font-family: signika;
}
