:root {
  --blue: #79B9D9;
  --pink: #FEBCBD;
  --red: #FD8384;
  --green: #9ED2A6;
}

.contact {
  background-color: var(--blue);
  border: 6px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Small */
@media (max-width: 500px) {
  .contact {
    font-size: 15px;
    padding: 40px 5%;
  }
}

/* Medium */
@media (min-width: 500px) and (max-width: 950px) {
  .contact {
    font-size: 19px;
    padding: 40px 20%;
  }
}

/* Large */
@media (min-width: 950px) {
  .contact {
    font-size: 20px;
    padding: 40px 30%;
  }
}
