@value blue, red, pink, green, desktop, mobile from "src/styles/variables.css";

.contact {
  background-color: blue;
  padding: 40px 3%;
  border: 6px solid white;
  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 100%;
}

@media mobile {
  .contact {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .form,
  .info {
    width: 100%;
  }
}

@media desktop {
  .contact {
    flex-direction: row;
  }
  .form {
    width: 60%;
  }
  .info {
    margin-top: 30px;
    width: 40%;
  }
}
